@import "../style/theming";

// See https://youtu.be/ilj2P5-5CjI
@mixin _focus-ring() {
  &.cdk-keyboard-focused, &.cdk-program-focused {
    @content;
  }
}

@mixin _outside-focus-ring($color) {
  @include _focus-ring {
    box-shadow: 0 0 0 2px theming-color($color, lighter);
  }
}

@mixin ui-button-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .Button {
    &--touching:not(.FlatButton) {
      opacity: .75;
    }

    &--type {
      &-raised {
        transition: box-shadow .2s ease-in-out;

        &.Button--color-none {
          color: inherit;
          background-color: theming-color($background, raised-button);
          @include _outside-focus-ring($primary);
        }

        &.Button--color-primary {
          color: theming-color($primary, default-contrast);
          background-color: theming-color($primary);
          @include _outside-focus-ring($primary);
        }

        &.Button--color-warn {
          color: theming-color($warn, default-contrast);
          background-color: theming-color($warn);
          @include _outside-focus-ring($warn);
        }
      }

      &-flat {
        background: transparent;
        color: inherit;
        transition: background-color .2s ease-in-out;

        &.Button--color-primary {
          color: theming-color($primary);
        }

        &.Button--color-warn {
          color: theming-color($warn);
        }

        @include _focus-ring {
          background-color: theming-color($background, focused-button);
        }

        &.Button--touching, &:hover {
          background-color: theming-color($background, focused-button);
        }
      }
    }
  }
}
