@import "../style/button";
@import "../style/typography";

@mixin _non-icon-button-size($_button_size, $_font_size, $_borderExists: false) {
  height: $_button_size;
  padding: 0 calc-button-padding($_button_size);

  font-size: $_font_size;
  font-weight: $font-medium-weight;
  line-height: if($_borderExists, $_button_size - 2px, $_button_size);
}

@mixin _icon-button-size($_button_size) {
  width: $_button_size;
  height: $_button_size;
  padding: 0;
}

.Button {
  @include button-reset();

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;

  font-family: $font-family-system;

  // Explicitly set the default overflow to `visible`. It is already set
  // on most browsers except on IE11 where it defaults to `hidden`.
  overflow: visible;

  cursor: pointer;
  border-radius: $button-border-radius;

  &:disabled, &.Button--disabled {
    cursor: default;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &--size {
    &-small {
      &.Button--type-flat, &.Button--type-raised {
        @include _non-icon-button-size($button-small-size, $font-normal-size);
      }

      &.Button--type-stroked {
        @include _non-icon-button-size($button-small-size, $font-normal-size, true);
      }

      &.Button--type-icon {
        @include _icon-button-size($button-small-size);
      }
    }

    &-normal {
      &.Button--type-flat, &.Button--type-raised {
        @include _non-icon-button-size($button-normal-size, $font-normal-size);
      }

      &.Button--type-stroked {
        @include _non-icon-button-size($button-normal-size, $font-normal-size, true);
      }

      &.Button--type-icon {
        @include _icon-button-size($button-normal-size);
      }
    }

    &-big {
      &.Button--type-flat, &.Button--type-raised {
        @include _non-icon-button-size($button-big-size, $font-medium-size);
      }

      &.Button--type-stroked {
        @include _non-icon-button-size($button-big-size, $font-normal-size, true);
      }

      &.Button--type-icon {
        @include _icon-button-size($button-big-size);
      }
    }
  }
}
