@import "./button";
@import "./icon";
@import "./theming";
@import "./typography";
@import "./layout";
@import "./mixins";
@import "./themes/basic-light-theme";
@import "./themes/basic-dark-theme";

@mixin patch-html-and-body($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  background-color: theming-color($background, background);

  body {
    background-color: theming-color($background, background);
    color: theming-color($foreground, text);
  }
}

@mixin ui-core() {
  *, *:before, *:after {
    box-sizing: border-box;
  }

  body, html {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: $font-family-system;
    font-size: $font-normal-size;
    font-weight: $font-regular-weight;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }

  img {
    user-select: none;
  }
}
