$dialog-border-radius: 4px;

.DialogContainer {
  position: relative;

  display: block;
  border-radius: $dialog-border-radius;
  overflow: hidden;
  outline: 0;

  // The dialog container should completely fill its parent overlay element.
  width: 100%;
  height: 100%;

  // Since the dialog won't stretch to fit the parent, if the height
  // isn't set, we have to inherit the min and max values explicitly.
  min-height: inherit;
  max-height: inherit;
}

.DialogContent {
}
